<a href="https://colab.research.google.com/github/thogame/Captura-de-datos-dispositivos/blob/main/CapturadatosApi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalación de las librerias o dependencias necesarias
!pip install beautifulsoup4 requests pandas

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.11.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.11.17)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
# Load dependencies
import json # modulo para trabajar con archivos JSON
import requests # libreria para hacer peticiones HTTP
import pandas as pd # libreria para procesar datos, proporciona funciones para analíticas
from bs4 import BeautifulSoup as bs # Extraer información de paginas web

In [3]:
# Función que convierte una lista de elementos en un dataframe de pandas
def rowsToDataFrame(rows):
    df = pd.DataFrame(rows[1:], columns=rows[0])
    return df

In [4]:
# Función para extraer los datos de una tabla HTML
def processTableData(tbl):
    rows = []
    for child in tbl.find('tbody').children: # itera los items internos de la tabla [<tr>]
        row = []
        for td in child: # itera los items internos de la tabla [<td>]
            try:
                item = td.text.replace('\n', '') # recupera el texto del elemento [<td>]
                if item:
                    row.append(item) # Agrega cada elemento de la fila
            except:
                continue
        if len(row) > 0:
            rows.append(row) # agrega todos los campos de una fila de la tabla
    # print(rows)
    return rows

In [545]:
# Función para exxtrar la data de la URL y procesar el contenido HTML
def processDataHTML(data):
    soup = bs(data['sections'][2]['text'], 'html.parser') # Recupera el item del JSON y lo convierte en contenido HTML
    tbl = soup.find_all('table')[0] # Recupera la tabla del contenido HTML
    # print(tbl.prettify())
    tblRows = processTableData(tbl) # Ejecuta la función apra porcesar el contenido de la Tabla
    return tblRows

In [546]:
# Read website
# r = requests.get('https://www.wikiwand.com/es/Anexo:Tabla_estadística_de_la_Copa_Mundial_de_Fútbol')
r = requests.get('https://www.wikiwand.com/mcs-api/es.wikipedia.org/v1/page/mobile-sections-remaining/%C3%8Dndice_de_desempe%C3%B1o_ambiental')  # Recuperamos el contenido de indice de desempeño ambiental
# print(r)
table = processDataHTML(json.loads(r.content)) # Formate el contenido en formato JSON
df = rowsToDataFrame(table) # ejecuta la funcion para recupera los datos de la tabla como dataframe de Pandas
df

,Puesto Mundial,Puesto Continental,País,Región,Puntuación 2018
0,1,1,Suiza Suiza,Europa,87.42
1,2,2,Francia,Europa,83.95
2,3,3,Dinamarca Dinamarca,Europa,81.60
3,4,4,Malta Malta,Europa,80.90
4,5,5,Suecia Suecia,Europa,80.51
5,6,6,Reino Unido Reino Unido,Europa,79.89
6,7,7,Luxemburgo Luxemburgo,Europa,79.12
7,8,8,Austria Austria,Europa,78.97
8,9,9,Irlanda,Europa,78.77
9,10,10,Finlandia Finlandia,Europa,78.64
10,11,11,Islandia Islandia,Europa,78.57
11,12,12,España España,Europa,78.57
12,13,13,Alemania Alemania,Europa,78.37
13,14,14,Noruega Noruega,Europa,77.49
14,15,15,Bélgica Bélgica,Europa,77.38
15,16,16,Italia Italia,Europa,76.96
16,17,1,Nueva Zelanda Nueva Zelanda,Oceanía,75.96
17,18,17,Países Bajos Países Bajos,Europa,75.46
18,19,1,Israel Israel,Asia,75.01
19,20,2,Japón Japón,Asia,74.69
20,21,2,Australia,Oceanía,74.12
21,22,18,Grecia Grecia,Europa,73.60
22,23,3,República de China,Asia,72.84
23,24,19,Chipre Chipre,Europa,72.60
24,25,1,Canadá Canadá,América,72.18
25,26,20,Portugal,Europa,71.91
26,27,2,Estados Unidos,América,71.19
27,28,21,Eslovaquia Eslovaquia,Europa,70.60
28,29,22,Lituania Lituania,Europa,69.33
29,30,3,Costa Rica Costa Rica,América,67.85
30,31,23,Bulgaria Bulgaria,Europa,67.85
31,32,4,Catar Catar,Asia,67.80
32,33,24,República Checa República Checa,Europa,67.68
33,34,25,Eslovenia Eslovenia,Europa,67.57
34,35,4,Trinidad y Tobago Trinidad y Tobago,América,67.36
35,36,5,San Vicente y las Granadinas San Vicente y las...,América,66.48
36,37,26,Letonia Letonia,Europa,66.12
37,38,5,Turkmenistán,Asia,66.10
38,39,1,Seychelles Seychelles,África,66.02
39,40,27,Albania Albania,Europa,65.46
40,41,28,Croacia Croacia,Europa,65.45
41,42,6,Colombia Colombia,América,65.22
42,43,29,Hungría Hungría,Europa,65.01
43,44,30,Bielorrusia Bielorrusia,Europa,64.98
44,45,31,Rumania Rumania,Europa,64.78
45,46,7,República Dominicana República Dominicana,América,64.71
46,47,8,Uruguay Uruguay,América,64.65
47,48,32,Estonia Estonia,Europa,64.31
48,49,6,Singapur Singapur,Asia,64.23
49,50,33,Polonia Polonia,Europa,64.11

In [547]:
# Inspeccionamos el tipo de dato de cada variable
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Puesto Mundial      50 non-null     object
 1   Puesto Continental  50 non-null     object
 2   País                50 non-null     object
 3   Región              50 non-null     object
 4   Puntuación 2018     50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [548]:
# Guardamos las datos extraidos como archivo CSV
# se puede aplcair otras opciones para guardar (Base de datos)
df.to_csv('statsWorldCup.csv')